*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: rgba(211, 211, 211, 0.266);
}
.app_wraper {
    display: flex;
    flex-direction: column;
    gap: 5em;
}

.app_wraper_header{
    position: fixed;
    width: 100%;
    z-index: 2;
}
._content{
    width: 100%;
    padding-inline: 1%;
    max-width: 1060px;
    overflow: hidden;
    align-self: center;
}
.app_wraper_content{
    margin-top: 3.5em;
    display: flex;
    gap: 1%;
}
.app_wraper_left_content{
    width: 10em;
    padding-top: 1%;
}   
.app_wraper_main_content{
    width: 100%;
    padding-top: 1%;

}   


