
:root{
    --clr4: #222327;
    --clr2: #b0b0e2;
    --clr: #ffffff;
    --clrBody: rgb(211, 211, 211);
}
 
.main_body{
    width: 10em;
    height: fit-content;
}

.navigation ul{
    display: flex;
    flex-direction: column;
    gap: 0.05em;
}
.navigation ul li{
    max-height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;    
}

.navigation ul li>div{
    width: 100%;
}
