.profile{
    padding: 0.4em;
    display: grid;
    grid-template-columns: 2fr 7fr;
    grid-template-rows:max-content;
} 
.profile_img{
    background-color: var(--clr);
    box-shadow: 0 0 2px var(--clr2);
    border-radius: 0.5em;
    display: flex;
    align-content: center;
    flex-direction: column;
    padding: 1em;
    margin: 0 0.2em;
    gap: 0.4em;
}
.profile_info{
    background-color: var(--clr);
    box-shadow: 0 0 2px var(--clr2);
    border-radius: 0.5em;
    align-content: center;
    flex-direction: column;
    padding: 0.4em;
    margin: 0 0.2em;

}

.profile_img img{
    border-radius: 0.5em;
	width: 100%;
	height: auto;
}
.profile_button{
    display: flex;
    align-self: center;
    justify-self: center;
    padding: 0.35em 1em;
    border-radius: 1em;
    background-color:rgba(211, 211, 211, 0.407);;
    font-size: 0.7em;
    transition: all 0.5s ease-out;
}
.profile_button:hover{
    background-color: rgba(211, 211, 211, 0.927);
}

.profile_info_content{
    height: 100%;
    padding: 0.35em 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.profile_info_content>div{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.profile_info_content>div:not(:last-child){
    border-bottom: 1px solid var(--clrBody);
}

