.header{
	display: flex;
	justify-content: space-between;
	grid-area: h;
    background-color:#b0b0e2;
    border: 1px solid black;
    border-radius: 10px;

}

.header img{
	padding: 3px 10px;
	width: 100%;
	max-width: 60px;
	height: auto;
	clip-path: circle(50%);
	object-fit: cover;
}
