.header{
	display: flex;
	justify-content: center;
	width: 100%;
	grid-area: h;
    background-color:white;
	box-shadow: 0 0 3px #b0b0e2;
}
.header_content{
	width: 100%;
	max-width: 1060px;
	padding-inline: 15px;
    overflow: hidden;
	display: flex;
	align-items: center;
}
.header img{
	padding: 3px 10px;
	width: 100%;
	max-width: 60px;
	height: auto;
	clip-path: circle(50%);
	object-fit: cover;
}
