.posts{
    display: flex;
    gap: 1rem;
    width: 100%;
    background-color: var(--clr);
    box-shadow: 0 0 2px var(--clr2);
    border-radius: 10px;
    flex-direction: column;
    padding: 2%;
    margin-top: 2%;
    
} 
.newPostInput{
  min-height: 1.5em;
  max-height: fit-content;
}
.newPostTextArea{
  resize:none;
  outline: none;
}


