

.dialog_window{
    display: grid;
    grid-template-columns: 2fr 5fr;
    width: 100%;
    height: 100%;
    background-color: var(--clr);
    border-radius: 1em;
    padding: 1em;
}

.dialog_items{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
}

.dialog_item{
    padding: 0.5em 0.7em;
    border: 1px solid lightcyan;
    border-radius: 10px;
    text-decoration: none;
}
.dialog_item > a{
    text-decoration: none;
    color: black;
}

.messages{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding-left: 20px;
    border: 1px solid rgba(177, 42, 177, 0.775);
    border-radius: 1em;
    padding: 1em;
}
.message{
    border: 1px solid rgba(224, 255, 255, 0.616);
    width: fit-content;
    padding: 0.25em 0.50em;
    border-radius: 1em;
    background-color: lightcyan;
}
.newMessageBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:1.5em;
}