
.icon img{
    max-width: 0.8em;
    font-size: 0.85em;
}

.icon{
    display: block;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
}

.activeLink, .item{
    position: relative;
    padding: 0 1em;
    gap: 0.8em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.5s ease-out;
    border-radius: 1em;
    box-shadow: 0 0 5px lightcyan;
}
.activeLink:hover, .item:hover{
    background-color: var(--clrBody);
    box-shadow: 0 0 5px lightcyan;
}
.activeLink {
    background-color: white;
}

.activeLink .text, .item .text{
    color: var(--clr4);
    font-weight: 400;
    font-size: 0.9em;
    letter-spacing: 0.05em;
    transition: 0.5s;
}


.activeLink .text{
    opacity: 1;
}

.activeLink .indicator{
    opacity: 1;
}

.item .indicator{
    
} 

.indicator{
    background-color: var(--clr);
    border-radius: 50%;
    border: 6px solid var(--clr);
    box-sizing: border-box;
}

